#modal {
    --paddingModal: 50px;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: #fffffffc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: opacity .5s var(--ease-in-out);
    overflow-y: auto;
    align-items: start;
    padding-top: 5vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    transition: all .5s var(--ease-in-out);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0) translateZ(0);
    will-change: transform, opacity;
}

#modal.out {
    visibility: hidden;
    pointer-events: none;
}

#modal #closeActionArea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -40px;
    z-index: -1;
}

#modal .container {
    width: calc(70% - var(--paddingModal)*2);
    min-height: calc(90% - var(--paddingModal)*2);
    padding: var(--paddingModal);
    background: #fff;
    border-radius: var(--default-radius);
    box-shadow: 0px 0px 80px #0002;
    position: relative;
    margin-bottom: 10vh;
    z-index: 999;
}

#modal .container .img {
    width: max-content;
    height: max-content;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    position: absolute;
    object-position: center;
    border-radius: var(--default-radius);
}

#modal .container .videoPlayer{
    aspect-ratio: 16 / 9;
    height: unset !important;
    border-radius: var(--default-radius);
    overflow: hidden;
}

@media(width < 800px) {
    #modal {
        --paddingModal: 25px;
    }
}

@media(width < 500px) {
    #modal {
        --paddingModal: 10px;
    }

    #modal .container {
        top: 60px;
        width: 85vw;
        min-height: calc(90% - (var(--paddingModal)*2) - 60px);
    }
}

@media(width<450px){
    #modal .container{
        background: transparent;
        width: 100vw;
        max-height: 90vh;
        padding: 0;
        box-shadow: none;
    }
    #modal .container img{
        width: 100%!important;
        height: 100%!important;
        border-radius: 0!important;
        max-height: unset!important;
        max-width: unset!important;
        object-fit: contain!important;
    }

    #modal .container .videoPlayer{
        border-radius: 0!important;
    }
}