:root {
    --popupPadding: 40px;
}

.popup * {
    font-family: 'roboto', 'montserrat', sans-serif, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
}

.popup {
    position: fixed;
    bottom: 50px;
    right: 70px;
    z-index: 999;
    background: #fff;
    border: 1px solid var(--darkBlue);
    box-shadow: 2px 2px rgba(45, 53, 65, 61);
    border-radius: 15px;
    padding: var(--popupPadding);
    overflow: hidden;
    transform: translateX(100px);
    opacity: 0;
    transition: all .3s var(--ease-in-out);
}

.popup.show {
    animation: 0.5s entryAniPopup var(--ease-in-out) forwards;
}

.popup.hidden {
    animation: 0.5s exitAniPopup var(--ease-in-out) forwards;
}

.popup #actionBtn {
    width: 170px;
    height: 65px;
    min-height: 45px;
    border-radius: 15px;
    background: var(--darkBlue);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--darkBlue)00;
    transition: all .2s var(--ease-in-out);
    cursor: pointer;
}

.popup #actionBtn:hover {
    background: #fff;
    border: 1px solid var(--darkBlue);
    color: var(--darkBlue);
}

.popup.login {
    height: calc(130px - var(--popupPadding) * 2);
    width: calc(450px - var(--popupPadding) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.login svg {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) !important;
    z-index: -1 !important;
    width: fit-content !important;
    height: 160% !important;
}

.popup.login .lottie {
    position: unset !important;
}

.popup .content {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    padding-right: 12%;
    transition: all .3s var(--ease-in-out);
}

.popup.generic {
    min-height: 100px;
}

.popup .content::-webkit-scrollbar {
    width: 3px !important;
}

.popup.login #title {
    font-size: 24px;
}

.popup {
    /* height: calc(490px - var(--popupPadding) *2); */
    width: calc(450px - var(--popupPadding) *2);
}

.popup p {
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
}

.popup h1 {
    font-size: 24px;
}

.popup .lottie {
    position: absolute;
    bottom: -65px;
    right: -43px;
    z-index: -1;
}

.popup.offline svg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1 !important;
    width: fit-content !important;
    width: fit-content !important;
    height: 160% !important;
}

#popupConfirmBgContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 251, 245, .75);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    z-index: 9999999;
    transition: all .5s var(--ease-in-out);
    animation: entryAniContainerPopupConfirm .5s var(--ease-in-out);
}

#popupConfirmBgContainer.hide {
    opacity: 0;
    visibility: hidden;
}

.popupConfirm {
    position: fixed;
    padding: 20px;
    z-index: 99999;
    background: #FEFBF5;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 15px;
    max-width: 400px;
    min-width: 300px;
    top: 5vh;
    transform: translateY(0);
    transition: all .5s var(--ease-in-out);
    animation: entryAniPopupConfirm .5s var(--ease-in-out);
    --popupConfirm-Hide-Animation-Value: 30px;
}

.popupConfirm.hide {
    transform: translateY(var(--popupConfirm-Hide-Animation-Value));
    opacity: 0;
    visibility: hidden;
}

.popupConfirm #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'roboto', 'montserrat', sans-serif, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
    color: var(--low-txt-color);
}

.popupConfirm #inputItems {
    position: relative;
    display: flex;
    align-items: center;
}

.popupConfirm #inputItems,
.popupConfirm #inputData {
    width: 100%;
}

.popupConfirm label {
    position: absolute;
    color: var(--low-txt-color);
    cursor: text;
    transition: .15s all var(--ease-in-out);
    left: 10px;
    pointer-events: none;
}

.popupConfirm #inputData {
    padding: 0 10px;
    color: var(--low-txt-color);
    text-align: start;
    transition: border .3s var(--ease-in-out);
    font-family: 'roboto', 'montserrat', sans-serif, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
}

.popupConfirm #inputData.error{
    border: 1px solid red;
    animation: inputErrorShake .5s var(--ease-in-out);
}

.popupConfirm #actionsPopup, .popupConfirm #twoActionsPopup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.popupConfirm #actionsPopup button, .popupConfirm #twoActionsPopup button {
    width: 130px;
}

.popupConfirm #actionConfirm {
    width: 100%;
}

.popupConfirm #actionConfirm button {
    width: 100%;
    background: var(--low-txt-color);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.popupConfirm #actionConfirm button:hover {
    background: var(--bgWhite);
    border: 1px solid rgba(0, 0, 0, .17);
    color: var(--low-txt-color);
}

.popupConfirm #actionsPopup button, .popupConfirm #actionConfirm button, .popupConfirm #twoActionsPopup button {
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s var(--ease-in-out);
    font-size: 16px;
    font-weight: 500;
    font-family: 'roboto', 'montserrat', sans-serif, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
}

.popupConfirm #actionsPopup button:hover, .popupConfirm #actionConfirm button:hover, .popupConfirm #twoActionsPopup button:hover {
    transform: scale(1.015);
}

.popupConfirm #actionsPopup button:first-child {
    background: var(--low-txt-color);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.popupConfirm #actionsPopup button:first-child:hover {
    background: var(--bgWhite);
    border: 1px solid rgba(0, 0, 0, .17);
    color: var(--low-txt-color);
}

.popupConfirm #actionsPopup button:last-child, .popupConfirm #twoActionsPopup button {
    background: var(--bgWhite);
    border: 1px solid rgba(0, 0, 0, .17);
    color: var(--low-txt-color);
}

.popupConfirm #actionsPopup button:last-child:hover, .popupConfirm #twoActionsPopup button:hover {
    background: var(--low-txt-color);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.popupConfirm #header h4{
    font-size: 20px;
}

.popupConfirm #header #close {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #F9F3E700;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .2s var(--ease-in-out);
}

.popupConfirm #header #close:hover {
    background: #F9F3E7;
    border: 1px solid rgba(0, 0, 0, .17);
}

.popupConfirm #textData {
    width: 100%;
}

.popupConfirm #textData p{
    font-family: 'roboto', 'montserrat', sans-serif, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
    color: var(--low-txt-color);
    text-wrap: wrap;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
}

.popupAlert{
    min-width: 300px;
    max-width: 370px;
}

@keyframes inputErrorShake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes entryAniContainerPopupConfirm {
    from{
        opacity: 0;
        backdrop-filter: blur(0px);
        visibility: hidden;
    }
    to{
        opacity: 1;
        backdrop-filter: blur(15px);
        visibility: visible;
    }
}

@keyframes entryAniPopupConfirm{
    from{
        transform: translateY(var(--popupConfirm-Hide-Animation-Value));
        opacity: 0;
        visibility: hidden;
    }
    to{
        transform: translate(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes entryAniPopup {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes exitAniPopup {
    from {
        transform: translate(0);
        opacity: 1;
    }

    to {
        transform: translateX(100px);
        opacity: 0;
    }
}

@media (width < 600px) {
    .popup {
        width: calc(90vw - var(--popupPadding) * 2) !important;
        right: 50%;
        transform: translateX(50%);
    }

    .popup.login {
        height: calc(100px - 25px * 2);
    }

    .popupConfirm {
        max-width: 80vw;
        top: 50%;
        transform: translateY(-50%);
    }

    #poupupConfirm.hide {
        transform: translateY(calc(-50% + var(--popupConfirm-Hide-Animation-Value)));
    }

    @keyframes entryAniPopupConfirm{
        from{
            top: 50%;
            transform: translateY(calc(-50% + var(--popupConfirm-Hide-Animation-Value)));
            opacity: 0;
            visibility: hidden;
        }
        to{
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes exitAniPopup {
        from {
            transform: translateX(50%);
            opacity: 1;
        }

        to {
            transform: translateX(100px);
            right: 0;
            opacity: 0;
        }
    }

    @keyframes entryAniPopup {
        from {
            transform: translateX(100px);
            right: 0;
            opacity: 0;
        }

        to {
            transform: translate(50%);
            opacity: 1;
        }
    }
}

@media(width<445px) {
    .popup #actionBtn {
        width: 140px;
        height: 50px;
    }

    .popup h1 {
        font-size: 20px;
    }

    .popup p {
        font-size: 16px;
    }
}